<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>episode client side app</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="resources/app.css">

</head>
<body>

<div class="container">

  <div id="episode" v-cloak>

    <div class="initialization-loading" v-if="!episode">
      <img src="resources/hex-loader2.gif" />
    </div>

    <form method="post" v-on:submit="submitEpisode" v-if="episode">

    <div class="row">

      <div class="col-md-8">

          <div class="form-group">
            <label>
              Episode Name: <span v-if="!episode.name" class="required">required</span>
            </label>
            <input class="form-control" type="text" placeholder="Episode Name"
              v-model="episode.name"
            >
          </div>

          <div class="form-group">
            <label>Episode Number: <span v-if="!episode.number" class="required">required</span>

            </label>
            <input class="form-control" type="text" placeholder="Episode Number" pattern="[0-9]+" title="Episode Number must be a valid numeric value"
              v-model="episode.number"
              v-on:change="isValidEpisode"
            >
          </div>

          <div class="form-group">
            <label>
              Series: <span v-if="!episode.series" class="required">required</span>
            </label>
            <select class="form-control"
              v-model="episode.series"
              v-on:change="isValidEpisode"
            >
              <option value="">Select a series</option>
              <option v-for="s in series" v-bind:value="s.value">{{s.text}}</option>
            </select>
            <!-- <small v-if="meta.valid"></small> -->
          </div>

          <div class="form-group">
            <label>
              State:
            </label>
            <select class="form-control" v-model="episode.state">
              <option value="draft">New</option>
              <option v-for="s in states" v-bind:value="s.value">{{s.text}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>
              Content:
            </label>
            <textarea name="name" rows="10" cols="40" class="form-control"
              v-model="episode.content"
            ></textarea>
          </div>

          <div class="form-group">
            <label>Description:

            </label>
            <textarea name="name" rows="3" cols="40" class="form-control"
              v-model="episode.description"
            ></textarea>
            <small class="text-muted"
              v-if="episode.description.length > 0"
            >
              {{episode.description.length}} characters</small>
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="episode.hidden"> Hidden
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" v-model="episode.nsfw"> NSFW
              </label>
            </div>
          </div>

          <div>
            <h4>Related</h4>

            <div class="form-group">
              <label>Parent:</label>
              <input class="form-control" type="text" placeholder="Select the parent episode"
                v-el:relatedparent
                v-model="queries.related.parent"
                v-bind:disabled="parents.length > 0"
              >
              <div v-if="parents.length > 0">
                <div v-for="parent in parents">
                  {{parent.name}} <button v-on:click="removeRelated(parent)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Fringe:</label>
              <input class="form-control" type="text" placeholder="Select the fringe episode"
                v-el:relatedfringe
                v-model="queries.related.fringe"
                v-bind:disabled="fringes.length > 0"
              >
              <div v-if="fringes.length > 0">
                <div v-for="fringe in fringes">
                  {{fringe.name}} <button v-on:click="removeRelated(fringe)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
              </div>
            </div>

          </div>

          <div>
            <h4>People</h4>
            <div class="form-group">
              <label>Add A Person</label>
              <input class="form-control" type="text" placeholder="Search for a person"
                v-el:peoplequery
                v-model="queries.people"
              >
              <ul class="list-group">
                <li class="list-group-item" v-for="person in episode.people" track-by="id">
                  {{person.name}}
                  <select v-model="person.type">
                    <option v-for="p in peopleTypes" v-bind:value="p.value">{{p.text}}</option>
                  </select>
                  <button v-on:click="removePerson(person)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </li>
              </ul>
            </div>
          </div>

          <div>
            <h4>Media</h4>
            <div class="form-group">
              <a class="btn btn-default" href="#" role="button"
                v-on:click="newMP3Media"
              >New MP3 Media</a>
            </div>

              <div class="row form-horizontal" v-for="media in episode.media">


                <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">{{media.type | uppercase}}:</label>
                <div class="col-sm-7">
                  <input class="form-control" v-bind:placeholder="media.type + ' media url'"
                    v-model="media.url"
                  />
                </div>
                <div class="col-sm-3">
                  <button type="button" class="btn btn-primary"
                    v-on:click="checkMedia(media, $event)"
                  >Update</button>
                  <button v-on:click="removeMedia(media, $event)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                </div>
                <div class="col-sm-12" v-if="media.id">
                  {{media.length}}
                </div>

              </div>

          </div>

          <hr>

      </div>

      <div class="col-md-4">
        <button class="btn btn-primary">
          Save
        </button>

        <div>
          <pre class="debug">{{ $data | json }}</pre>
        </div>

      </div>

    </div>

    </form>
  </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.7/vue.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autocomplete.js/0.6.0/autocomplete.jquery.min.js"></script>
<script src="resources/app-beta.js"></script>
</body>
</html>
