
body {
  padding: 2em 0;
}

[v-cloak] {
  display: none;
}

.error {
  font-weight: bold;
  color: red;
}

.required {
  border-radius: 2px;
  background-color: #FCF0F0;
  color: #FF8080;
  font-weight: bold;
  padding: 2px 5px 2px 5px;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .1rem;
}

.initialization-loading {
}

img {
  display: block;
  margin: 0 auto;
}

.debug {
  margin: 1rem 0;
}

.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
